# PRESENTACIÓN ACÁMICA: Dataset Recorridos Realizados EcoBici 2018
<img src= https://imgsvr.radiocut.site/get/thumb/900/900/cuts_logos/64/dd/64ddc026-2210-47f1-bb91-f62c3ae44f6f.png width= 300>

>EcoBici, es un sistema de bicicletas compartidas que funciona en la Ciudad de Buenos Aires, cuenta con 400 estaciones y 4000 rodados y en 2018 más de 200.000 usuarios realizaron más de 8 millones de viajes durante el año*. Una característica no usual en este tipo de sistema es que su uso, que requiere un registro previo, es totalmente gratuito tanto para residentes locales como para turistas.

>A partir de 2019, el sistema es operado por la empresa brasileña Tembici conforme a una norma que aprobó la Legislatura porteña meses atrás. Se planea la duplicación de bicicletas y estaciones.Actualmente el sistema está presente en 38 de los 48 barrios de la Ciudad Autónoma de Buenos Aires, funcionando los 365 días del año 24 horas.[(Wikipedia, consultado el 24/10/2019)](https://es.wikipedia.org/wiki/EcoBici_(Buenos_Aires))

Página de referencia: https://data.buenosaires.gob.ar/dataset/bicicletas-publicas

Fuente primaria: Ministerio de Desarrollo Urbano y Transporte. SS de Movilidad Sustentable y Segura. (Subsecretaria: Paula Bisiau, Ministro: Franco Moccia)

Mantenedor:
Secretaría General y Relaciones Internacionales. Subsecretaría Gestión Estratégica y Calidad Institucional. Dirección General Calidad Institucional y Gobierno Abierto.

Licencia Atribución 2.5 Argentina (CC BY 2.5 AR)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
df = pd.read_csv("dataset/recorridos-realizados-2018.csv", parse_dates = ["bici_Fecha_hora_retiro", "bici_tiempo_uso"])

## 1) ¿Cómo empezar? Primera aproximación al *dataset*
Primero me propuse ver información general sobre el *dataset*, de manera de tener una idea general sobre el mismo (cómo se ve, cantidad de columnas y sus valores, cantidad de filas, tipos de valores, número de NaNs y estadísticas descriptivas).

In [12]:
df.head()

,bici_id_usuario,bici_Fecha_hora_retiro,bici_tiempo_uso,bici_nombre_estacion_origen,bici_estacion_origen,bici_nombre_estacion_destino,bici_estacion_destino,bici_sexo,bici_edad
0,5453,2018-01-01 00:08:05,0 days 00:19:53.000000000,Uruguay,45,Virrey Cevallos,183,M,45
1,673,2018-01-01 00:18:05,0 days 00:26:19.000000000,Posadas,189,Guardia Vieja,110,M,61
2,179119,2018-01-01 00:20:14,0 days 00:27:39.000000000,Hospital Rivadavia,50,Padilla,31,F,52
3,400147,2018-01-01 00:20:22,0 days 00:48:51.000000000,Macacha Güemes,111,Acuña de Figueroa,54,M,27
4,400156,2018-01-01 00:20:31,0 days 00:49:27.000000000,Macacha Güemes,111,Acuña de Figueroa,54,F,27

In [3]:
df.tail()

,bici_id_usuario,bici_Fecha_hora_retiro,bici_tiempo_uso,bici_nombre_estacion_origen,bici_estacion_origen,bici_nombre_estacion_destino,bici_estacion_destino,bici_sexo,bici_edad
2619963,190597,2018-12-30 19:46:32,0 days 00:07:15.000000000,Plaza Primero de Mayo,75,México,118,M,21
2619964,119885,2018-12-30 19:48:14,0 days 00:09:59.000000000,Virrey Liniers,139,EEUU y Boedo,199,F,22
2619965,652034,2018-12-30 19:48:51,0 days 00:10:32.000000000,Peña,30,Ayacucho,76,F,20
2619966,467438,2018-12-30 19:51:42,0 days 00:09:57.000000000,Sánchez de Bustamante,52,Sánchez de Bustamante,52,M,26
2619967,265951,2018-12-30 19:52:41,0 days 00:10:26.000000000,Parque Lezama,6,Azopardo y Chile,137,M,41

In [5]:
df.shape

(2619968, 9)

# *Nota: <font color= red>¿Por qué dice 2 millones 600 mil en el dataset y Paula Bisiau -Subsecretaria de Movilidad Sustentable- declara que fueron más de ocho millones en la afirmación de más arriba?</font> 

# Ambos vínculos a la afirmación de Wikipedia no existen más, uno está roto y el otro cambió de contenido. Capaz quisieron decir que era el total para todos los años del sistema.

In [5]:
list(df.columns)

['bici_id_usuario',
 'bici_Fecha_hora_retiro',
 'bici_tiempo_uso',
 'bici_nombre_estacion_origen',
 'bici_estacion_origen',
 'bici_nombre_estacion_destino',
 'bici_estacion_destino',
 'bici_sexo',
 'bici_edad']

In [6]:
df.dtypes

bici_id_usuario                          int64
bici_Fecha_hora_retiro          datetime64[ns]
bici_tiempo_uso                         object
bici_nombre_estacion_origen             object
bici_estacion_origen                     int64
bici_nombre_estacion_destino            object
bici_estacion_destino                    int64
bici_sexo                               object
bici_edad                                int64
dtype: object

In [21]:
df.describe() # es notación científica

,bici_id_usuario,bici_estacion_origen,bici_estacion_destino,bici_edad
count,2.619968e+06,2.619968e+06,2.619968e+06,2.619968e+06
mean,3.281220e+05,9.499050e+01,9.540232e+01,3.322898e+01
std,1.864424e+05,5.859776e+01,5.862938e+01,1.112349e+01
min,8.000000e+00,1.000000e+00,1.000000e+00,1.600000e+01
25%,1.577910e+05,4.100000e+01,4.200000e+01,2.500000e+01
50%,3.531940e+05,9.100000e+01,9.200000e+01,3.000000e+01
75%,4.917370e+05,1.460000e+02,1.470000e+02,3.900000e+01
max,6.724490e+05,6.000000e+02,6.000000e+02,1.400000e+02

### Valores nulos
Hay 43723 NaN en la columna "bici_tiempo_uso", que es la única que tiene NaNs.

In [8]:
df.isna().sum()

bici_id_usuario                     0
bici_Fecha_hora_retiro              0
bici_tiempo_uso                 43723
bici_nombre_estacion_origen         0
bici_estacion_origen                0
bici_nombre_estacion_destino        0
bici_estacion_destino               0
bici_sexo                           0
bici_edad                           0
dtype: int64

In [37]:
df_drop = df
df_drop.drop("bici_id_usuario", inplace= True, axis = 1) #no me acuerdo cómo quitar múltiples valores.

KeyError: "['bici_id_usuario'] not found in axis"

In [38]:
list(df_drop.columns)

['bici_Fecha_hora_retiro',
 'bici_tiempo_uso',
 'bici_nombre_estacion_origen',
 'bici_estacion_origen',
 'bici_nombre_estacion_destino',
 'bici_estacion_destino',
 'bici_sexo',
 'bici_edad']

# 2) Ya con algunas características del DS en la cabeza, comenzaron a surgirme preguntas.


### 1.¿Usaron más el sistema los hombres o las mujeres?
### 2. ¿Cómo varía la demanda total durante el año? (estacionalidad)
### 3. ¿Cual estación se usó más, y cuál menos?
### 4. ¿Qué segmento etario utiliza más el sistema?

# 3) Conclusión

# 4) DESAFÍOS: ¿Qué otras preguntas se les ocurren para hacerse con este Dataset?
Podríamos bajar más datasets y hacer comparaciones interanuales de las variables que estudiamos y/o otras.

Podríamos comparar los porcentajes de uso M o F entre BA y otras ciudades, como por ejemplo Amsterdam, ciudad paradigma del uso de la bicileta y de la igualdad.