In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
df = pd.read_csv("dataset/recorridos-realizados-2018.csv", parse_dates = ["bici_Fecha_hora_retiro", "bici_tiempo_uso"])

In [23]:
df.head()

,bici_id_usuario,bici_Fecha_hora_retiro,bici_tiempo_uso,bici_nombre_estacion_origen,bici_estacion_origen,bici_nombre_estacion_destino,bici_estacion_destino,bici_sexo,bici_edad
0,5453,2018-01-01 00:08:05,0 days 00:19:53.000000000,Uruguay,45,Virrey Cevallos,183,M,45
1,673,2018-01-01 00:18:05,0 days 00:26:19.000000000,Posadas,189,Guardia Vieja,110,M,61
2,179119,2018-01-01 00:20:14,0 days 00:27:39.000000000,Hospital Rivadavia,50,Padilla,31,F,52
3,400147,2018-01-01 00:20:22,0 days 00:48:51.000000000,Macacha Güemes,111,Acuña de Figueroa,54,M,27
4,400156,2018-01-01 00:20:31,0 days 00:49:27.000000000,Macacha Güemes,111,Acuña de Figueroa,54,F,27

In [24]:
df.shape

(2619968, 9)

In [19]:
list(df.columns)

['bici_id_usuario',
 'bici_Fecha_hora_retiro',
 'bici_tiempo_uso',
 'bici_nombre_estacion_origen',
 'bici_estacion_origen',
 'bici_nombre_estacion_destino',
 'bici_estacion_destino',
 'bici_sexo',
 'bici_edad']

In [20]:
df.dtypes

bici_id_usuario                          int64
bici_Fecha_hora_retiro          datetime64[ns]
bici_tiempo_uso                         object
bici_nombre_estacion_origen             object
bici_estacion_origen                     int64
bici_nombre_estacion_destino            object
bici_estacion_destino                    int64
bici_sexo                               object
bici_edad                                int64
dtype: object

In [21]:
df.describe() # no sé qué son estos valores que muestra. Será por el parse dates?

,bici_id_usuario,bici_estacion_origen,bici_estacion_destino,bici_edad
count,2.619968e+06,2.619968e+06,2.619968e+06,2.619968e+06
mean,3.281220e+05,9.499050e+01,9.540232e+01,3.322898e+01
std,1.864424e+05,5.859776e+01,5.862938e+01,1.112349e+01
min,8.000000e+00,1.000000e+00,1.000000e+00,1.600000e+01
25%,1.577910e+05,4.100000e+01,4.200000e+01,2.500000e+01
50%,3.531940e+05,9.100000e+01,9.200000e+01,3.000000e+01
75%,4.917370e+05,1.460000e+02,1.470000e+02,3.900000e+01
max,6.724490e+05,6.000000e+02,6.000000e+02,1.400000e+02

In [37]:
df_drop = df
df_drop.drop("bici_id_usuario", inplace= True, axis = 1) #no me acuerdo cómo quitar múltiples valores.

KeyError: "['bici_id_usuario'] not found in axis"

In [38]:
list(df_drop.columns)

['bici_Fecha_hora_retiro',
 'bici_tiempo_uso',
 'bici_nombre_estacion_origen',
 'bici_estacion_origen',
 'bici_nombre_estacion_destino',
 'bici_estacion_destino',
 'bici_sexo',
 'bici_edad']